body {
    margin: 5px;
}
  
.wrapper {
    display: grid;
    grid-template-columns: repeat(84, auto);
    grid-gap: 0px;
    border: 1px solid white;
}
  
.box {
    background-color: white;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    /* padding: 20px; */
    /* font-size: 150%; */
}