html {
    text-align: center;
    margin: auto;
    height: 90%;
    width: 64%;
}
  
.wrapper {
    display: grid;
    grid-template-columns: repeat(151, auto);
    margin-top: 23px;
}
  
.box {
    width: 6px;
    height: 6px;
}